<li class="collection-item dismissable"><div>{{this.id}}. {{ burger_name }}<a href="#!" class="secondary-content devour" data-id="{{ this.id }}"><i class="material-icons">local_dining</i></a></div></li>
